:host {
    --color: #888888;
    --border-color: #888888;
    --icon-color: #757575;
    --selected-color: #ffffff;
    --checked-color: #ffffff;
    --background-color: #ffffff;
    --label-background-color: #f4f4f4;
    --select-background-color: #e4e4e4;
    --selected-background-color: #12ef23;
    --button-background-color: #eeeeee;
    --checked-background-color: #78ffaa;
}